@import '../styles/var';

@calendar-text-disabled-color: @color-text-disabled;
@calendar-disabled-color: @color-disabled;
@calendar-day-text-color: #adb5bd;
@calendar-date-text-color: #555;
@calendar-today-date-color: @color-warning;
@calendar-picked-date-color: @color-primary;
@calendar-header-margin: 0 0 14px 0;
@calendar-current-text-color: #67748e;
@calendar-current-font-size: 24px;
@calendar-today-button-margin: 0 14px;
@calendar-background: #fff;
@calendar-border-color: #eee;
@calendar-date-text-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
@calendar-day-padding: 10px;
@calendar-day-font-size: 14px;

.m-calendar {
  -webkit-tap-highlight-color: transparent;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: @calendar-header-margin;
  }

  &__current {
    color: @calendar-current-text-color;
    font-weight: 600;
    font-size: @calendar-current-font-size;
  }

  &__pager {
    display: flex;
    align-items: center;
  }

  &__today[calender-cover] {
    margin: @calendar-today-button-margin;
  }

  &__calender {
    width: 100%;
    background: @calendar-background;
  }

  &__date-container {
    display: flex;
    flex-wrap: wrap;
    border-right: thin solid @calendar-border-color;
  }

  &__day-container {
    display: flex;
    border-right: thin solid @calendar-border-color;
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: calc(100% / 7);
    padding: @calendar-day-padding;
    color: @calendar-day-text-color;
    font-size: @calendar-day-font-size;
    border-top: thin solid @calendar-border-color;
    border-bottom: thin solid @calendar-border-color;
    border-left: thin solid @calendar-border-color;
  }

  &__date-cell {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 7);
    height: 100px;
    padding: 10px;
    border-bottom: thin solid @calendar-border-color;
    border-left: thin solid @calendar-border-color;
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
      background: rgba(94, 114, 228, 0.05);
    }
  }

  &__date-text {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    font-size: 16px;
    border-radius: 50%;
    color: @calendar-date-text-color;
    transition: all 0.2s;
  }

  &--date-today {
    background: @calendar-today-date-color;
    color: #fff;
    box-shadow: @calendar-date-text-box-shadow;
  }

  &--date-disabled {
    cursor: not-allowed !important;

    * {
      cursor: not-allowed !important;
    }
  }

  &--date-picked {
    background: @calendar-picked-date-color;
    color: #fff;
    box-shadow: @calendar-date-text-box-shadow;
  }

  &--in-range {
    background: @calendar-picked-date-color;
    color: #fff;
    box-shadow: @calendar-date-text-box-shadow;
    opacity: 0.3;
  }

  &--date-text-disabled {
    color: @calendar-text-disabled-color;
  }

  &--date-text-background-disabled {
    background: @calendar-disabled-color;
    opacity: 1;
  }
}
