node_modules

.meve
.idea
.vscode
*.log
.DS_Store
*.vsix
package-lock.json

packages/meve-cli/lib/commands
packages/meve-cli/lib/compiler
packages/meve-cli/lib/config
packages/meve-cli/lib/shared
packages/meve-cli/lib/index.d.ts

packages/meve-ui/site
packages/meve-ui/lib
packages/meve-ui/es
packages/meve-ui/umd
packages/meve-ui/coverage
packages/meve-ui/highlight

packages/meve-icons/dist
