@import '../styles/var';

@input-normal-height: 42px;
@input-normal-font-size: 15px;
@input-small-height: 36px;
@input-small-font-size: 14px;
@input-mini-height: 30px;
@input-mini-font-size: 13px;
@input-padding: 0 10px;
@input-normal-textarea-padding: 10px 0;
@input-small-textarea-padding: 7px 0;
@input-mini-textarea-padding: 5px 0;
@input-background: #fff;
@input-outline-active-color: var(--color-primary);
@input-outline-inactive-color: #ccc;
@input-border-radius: 4px;
@input-text-color: #666;
@input-placeholder-text-color: #bbb;
@input-disabled-background: #e6e9ec;
@input-disabled-text-color: #888;
@input-maxlength-font-size: 14px;
@input-maxlength-text-color: #888;
@input-maxlength-margin: 0 0 0 6px;
@input-clear-margin: 0 0 0 6px;
@input-clear-size: 16px;
@input-clear-color: #888;
@input-validation-error-color: var(--color-warning);

:root {
  --input-normal-height: @input-normal-height;
  --input-normal-font-size: @input-normal-font-size;
  --input-small-height: @input-small-height;
  --input-small-font-size: @input-small-font-size;
  --input-mini-height: @input-mini-height;
  --input-mini-font-size: @input-mini-font-size;
  --input-padding: @input-padding;
  --input-normal-textarea-padding: @input-normal-textarea-padding;
  --input-small-textarea-padding: @input-small-textarea-padding;
  --input-mini-textarea-padding: @input-mini-textarea-padding;
  --input-background: @input-background;
  --input-outline-active-color: @input-outline-active-color;
  --input-outline-inactive-color: @input-outline-inactive-color;
  --input-border-radius: @input-border-radius;
  --input-text-color: @input-text-color;
  --input-placeholder-text-color: @input-placeholder-text-color;
  --input-disabled-background: @input-disabled-background;
  --input-disabled-text-color: @input-disabled-text-color;
  --input-maxlength-font-size: @input-maxlength-font-size;
  --input-maxlength-text-color: @input-maxlength-text-color;
  --input-maxlength-margin: @input-maxlength-margin;
  --input-clear-margin: @input-clear-margin;
  --input-clear-size: @input-clear-size;
  --input-clear-color: @input-clear-color;
  --input-validation-error-color: @input-validation-error-color;
}

.m-input {
  display: flex;
  align-items: center;
  background: var(--input-background);
  padding: var(--input-padding);
  border: thin solid var(--input-outline-inactive-color);
  border-radius: var(--input-border-radius);
  color: var(--input-text-color);
  transition: background-color 0.25s, border 0.25s;

  &__input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
    background: transparent;

    &::placeholder {
      color: var(--input-placeholder-text-color);
    }
  }

  &__textarea {
    height: 100%;
    border: none;
    outline: none;
    flex: 1;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    background: transparent;

    &::placeholder {
      color: var(--input-placeholder-text-color);
    }
  }

  &__clear-icon {
    margin: var(--input-clear-margin);
    font-size: var(--input-clear-size);
    opacity: 0;
    transition: opacity 0.1s linear;
    color: var(--input-clear-color);
  }

  &--disabled {
    background: var(--input-disabled-background);
    color: var(--input-disabled-text-color);

    * {
      cursor: not-allowed;
    }
  }

  &__maxlength {
    flex-shrink: 0;
    margin: var(--input-maxlength-margin);
    font-size: var(--input-maxlength-font-size);
    color: var(--input-maxlength-text-color);
    white-space: nowrap;
  }

  &--normal-textarea {
    padding: var(--input-normal-textarea-padding);
  }

  &--small-textarea {
    padding: var(--input-small-textarea-padding);
  }

  &--mini-textarea {
    padding: var(--input-mini-textarea-padding);
  }

  &--normal {
    min-height: var(--input-normal-height);
    height: var(--input-normal-height);
    font-size: var(--input-normal-font-size);
  }

  &--small {
    min-height: var(--input-small-height);
    height: var(--input-small-height);
    font-size: var(--input-small-font-size);
  }

  &--mini {
    min-height: var(--input-mini-height);
    height: var(--input-mini-height);
    font-size: var(--input-mini-font-size);
  }

  &--outline {
    border: thin solid var(--input-outline-active-color);
  }

  &--clear-icon-visible {
    opacity: 1;
    cursor: pointer;
  }

  &--resizeable {
    resize: vertical;
    overflow: auto;
  }

  &--validation-error-border {
    border: thin solid var(--input-validation-error-color);
  }
}
