@dialog-title-wrapper-padding: 16px 20px;
@dialog-content-border-radius: 6px;
@dialog-title-text-color: #333;
@dialog-message-padding: 20px 20px;
@dialog-footer-padding: 16px;
@dialog-message-font-size: 15px;
@dialog-message-text-color: #555;
@dialog-border-color: #ddd;

.m-dialog {
  .m-popup__content[dialog-cover] {
    border-radius: @dialog-content-border-radius;
  }

  &__container {
    width: 600px;
    max-width: 86vw;
  }

  &__title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @dialog-title-wrapper-padding;
    border-bottom: thin dashed @dialog-border-color;
  }

  &__title {
    color: @dialog-title-text-color;
    font-weight: 500;
  }

  &__message {
    padding: @dialog-message-padding;
    color: @dialog-message-text-color;
    font-size: @dialog-message-font-size;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: @dialog-footer-padding;
    border-top: thin dashed @dialog-border-color;
  }
}
