@import '@meve/icons/dist/css/meve-icons.less';

@icon-size: 20px;

.m-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: @icon-size;
  color: inherit;
  vertical-align: bottom;
}
