@import '../styles/var';

@button-default-color: var(--color-default);
@button-default-hover-color: var(--color-deep-default);
@button-default-text-color: var(--button-primary-color);
@button-primary-color: var(--color-primary);
@button-primary-hover-color: var(--color-deep-primary);
@button-error-color: var(--color-error);
@button-error-hover-color: var(--color-deep-error);
@button-success-color: var(--color-success);
@button-success-hover-color: var(--color-deep-success);
@button-warning-color: var(--color-warning);
@button-warning-hover-color: var(--color-deep-warning);
@button-info-color: var(--color-info);
@button-info-hover-color: var(--color-deep-info);
@button-disabled-color: var(--color-disabled);
@button-disabled-text-color: var(--color-text-disabled);
@button-border-radius: 6px;
@button-mini-padding: 0 8px;
@button-small-padding: 0 11px;
@button-normal-padding: 0 15px;
@button-large-padding: 0 22px;
@button-mini-height: 20px;
@button-small-height: 28px;
@button-normal-height: 36px;
@button-large-height: 44px;
@button-round-padding: 6px;

@button-small-loading-size: 16px;
@button-normal-loading-size: 20px;
@button-large-loading-size: 22px;
@button-mini-loading-size: 14px;
@button-loading-margin: 0 0 0 6px;

:root {
  --button-default-color: @button-default-color;
  --button-default-hover-color: @button-default-hover-color;
  --button-default-text-color: @button-default-text-color;
  --button-primary-color: @button-primary-color;
  --button-primary-hover-color: @button-primary-hover-color;
  --button-error-color: @button-error-color;
  --button-error-hover-color: @button-error-hover-color;
  --button-success-color: @button-success-color;
  --button-success-hover-color: @button-success-hover-color;
  --button-warning-color: @button-warning-color;
  --button-warning-hover-color: @button-warning-hover-color;
  --button-info-color: @button-info-color;
  --button-info-hover-color: @button-info-hover-color;
  --button-disabled-color: @button-disabled-color;
  --button-disabled-text-color: @button-disabled-text-color;
  --button-border-radius: @button-border-radius;
  --button-mini-padding: @button-mini-padding;
  --button-small-padding: @button-small-padding;
  --button-normal-padding: @button-normal-padding;
  --button-large-padding: @button-large-padding;
  --button-mini-height: @button-mini-height;
  --button-small-height: @button-small-height;
  --button-normal-height: @button-normal-height;
  --button-large-height: @button-large-height;
  --button-round-padding: @button-round-padding;
  --button-small-loading-size: @button-small-loading-size;
  --button-normal-loading-size: @button-normal-loading-size;
  --button-large-loading-size: @button-large-loading-size;
  --button-mini-loading-size: @button-mini-loading-size;
  --button-loading-margin: @button-loading-margin;
}

.m-button {
  position: relative;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: var(--button-border-radius);
  user-select: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.15s;
  will-change: box-shadow;
  white-space: nowrap;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: thin solid transparent;
  line-height: 1.2;

  &__content {
    display: flex;
    align-items: center;
  }

  &__loading[button-cover] {
    margin: var(--button-loading-margin);
  }

  &:hover {
    transform: translateY(-1px);
  }

  &--shadow {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

    &:hover {
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    }

    &:active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &--default {
    color: var(--button-default-text-color);
    background-color: var(--button-default-color);

    &:hover {
      background-color: var(--button-default-hover-color);
    }
  }

  &--primary {
    color: #fff;
    background-color: var(--button-primary-color);

    &:hover {
      background-color: var(--button-primary-hover-color);
    }
  }

  &--info {
    color: #fff;
    background-color: var(--button-info-color);

    &:hover {
      background-color: var(--button-info-hover-color);
    }
  }

  &--success {
    color: #fff;
    background-color: var(--button-success-color);

    &:hover {
      background-color: var(--button-success-hover-color);
    }
  }

  &--warning {
    color: #fff;
    background-color: var(--button-warning-color);

    &:hover {
      background-color: var(--button-warning-hover-color);
    }
  }

  &--error {
    color: #fff;
    background-color: var(--button-error-color);

    &:hover {
      background-color: var(--button-error-hover-color);
    }
  }

  &--block {
    width: 100%;
  }

  &--text {
    background-color: transparent;

    &:active {
      box-shadow: none;
    }
  }

  &--text-default {
    color: inherit;

    &:hover {
      box-shadow: none;
    }
  }

  &--text-primary {
    color: var(--button-primary-color);

    &:hover {
      box-shadow: none;
    }
  }

  &--text-info {
    color: var(--button-info-color);

    &:hover {
      box-shadow: none;
    }
  }

  &--text-success {
    color: var(--button-success-color);

    &:hover {
      box-shadow: none;
    }
  }

  &--text-warning {
    color: var(--button-warning-color);

    &:hover {
      box-shadow: none;
    }
  }

  &--text-error {
    color: var(--button-error-color);

    &:hover {
      box-shadow: none;
    }
  }

  &--normal {
    height: var(--button-normal-height);
    padding: var(--button-normal-padding);
    font-size: var(--font-size-md);

    .m-loading__circle {
      svg {
        width: var(--button-normal-loading-size);
        height: var(--button-normal-loading-size);
        color: currentColor;
      }
    }
  }

  &--large {
    height: var(--button-large-height);
    padding: var(--button-large-padding);
    font-size: var(--font-size-lg);

    .m-loading__circle {
      svg {
        width: var(--button-large-loading-size);
        height: var(--button-large-loading-size);
        color: currentColor;
      }
    }
  }

  &--small {
    height: var(--button-small-height);
    padding: var(--button-small-padding);
    font-size: var(--font-size-sm);

    .m-loading__circle {
      svg {
        width: var(--button-small-loading-size);
        height: var(--button-small-loading-size);
        color: currentColor;
      }
    }
  }

  &--mini {
    height: var(--button-mini-height);
    padding: var(--button-mini-padding);
    font-size: var(--font-size-xs);

    .m-loading__circle {
      svg {
        width: var(--button-mini-loading-size);
        height: var(--button-mini-loading-size);
        color: currentColor;
      }
    }
  }

  &--round {
    padding: var(--button-round-padding);
    border-radius: 50%;
    height: auto;
  }

  &--outline {
    border: thin solid currentColor;
  }

  &--disabled {
    background-color: var(--button-disabled-color);
    color: var(--button-disabled-text-color);
    cursor: not-allowed;
    box-shadow: none !important;

    &:hover {
      background-color: var(--button-disabled-color);
      color: var(--button-disabled-text-color);
      transform: translateY(0);
    }
  }

  &--text-disabled {
    color: var(--button-disabled-text-color);

    &:hover {
      background: transparent;
      color: var(--button-disabled-text-color);
      box-shadow: none;
      transform: translateY(0);
    }
  }
}
