@import '../styles/var';

@scroller-bar-border-radius: 4px;
@scroller-bar-width: 6px;
@scroller-bar-right: 4px;
@scroller-cubic-bezier: var(--cubic-bezier);
@scroller-bar-background: #ddd;
@scroller-bar-hover-background: #c0c0c0;

:root {
  --scroller-bar-border-radius: @scroller-bar-border-radius;
  --scroller-bar-width: @scroller-bar-width;
  --scroller-bar-right: @scroller-bar-right;
  --scroller-bar-background: @scroller-bar-background;
  --scroller-bar-hover-background: @scroller-bar-hover-background;
}

.scrollbar-fade-enter-active,
.scrollbar-fade-leave-active {
  transition: opacity 0.2s var(--scroller-cubic-bezier);
}

.scrollbar-fade-enter,
.scrollbar-fade-leave-to {
  opacity: 0;
}

.m-scroller {
  position: relative;
  overflow: hidden;
  user-select: none;

  &__scrollbar {
    position: absolute;
    top: 0;
    right: var(--scroller-bar-right);
    width: var(--scroller-bar-width);
    height: 100%;
  }

  &__scrollbar-inner {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background: var(--scroller-bar-background);
    border-radius: var(--scroller-bar-border-radius);

    &:hover {
      cursor: pointer;
      background: var(--scroller-bar-hover-background);
    }
  }

  &--mobile {
    overflow: auto;
  }
}
